/* Master Styles*/
body{
    font-family: "Roboto Condensed", sans-serif;
    margin: 0px;
    background-color: #1a1a1a;
    color: #bababa;
}

h1{
    color: #245c7c;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
}

/*Navigation Styles*/
.navBar{
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.name{
    color: #bababa;
}

.titleWrapper{
    color: #bababa;
    font-weight: bold;
    font-size: 22px;
}

.leftSide{
    display: flex;
}

.navBar > .leftSide > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.navBarLinks{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.navBarLinks a{
    color: #bababa;
    text-decoration: none;
    transition: color 0.5s;
}

.navBarLinks:hover{
    border-bottom: 1px solid #245c7c;
}

.navBarLinks a:hover{
    color: #245c7c;
}

.activeNavLink{
    border-bottom: 1px solid #245c7c;
}

.activeNavLink a{
    color: #245c7c !important;
}

/*Bottom Bar*/
.bottomBar{
    display: flex;
    justify-content: center;
    padding: 10px;
}